.container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.addImage {
  color: #515151;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
}
